*{
    margin: 0;
    padding: 0;
}

@function color-tittle($background-color){
    @if(lightness($background-color) > 50) {
        @return black;
    } @else {
        @return white;
    }
}

@mixin background-color-mixin($color){
    background-color: $color;
    color: color-tittle($color);
}

.tittle {
    height: 100vh;
    @include background-color-mixin(violet);
}